.subcourse-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    transition: all 0.3s ease;
    width: 100%;
}

.subcourse-card-content {
    h1 {

        color: #000;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
        text-transform: capitalize;
    }

    h3 {
        color: #000;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;
        text-transform: capitalize;
    }
}